
@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message <img src="~/Content/Mirokusmall.jpg" /></h3>

<p>
    Hello, My name is Matt Gustafson.  I have a bachelors degree from Davenport Universtiy in Computer Gaming/Simulation. <br />
    I love to game which is one of the reasons I decided to get a degree in Game Design. <br /> <br />
</p>
<h4>List of some of the Games I currently play</h4>
<table border="1" style="width:auto">
    <tr>
        <th>Game Name</th>
        <th>Game Type</th>
        <th>Total Hours played</th>
    </tr>
    <tr>
        <td>League of Legends</td>
        <td>MOBA</td>
        <td>150+</td>
    </tr>
    <tr>
        <td>Skyrim</td>
        <td>RPG</td>
        <td>130</td>
    </tr>
    <tr>
        <td>Maplestory</td>
        <td>2D Side scrolling</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Sid Meier's Civilzation 5</td>
        <td>Strategy</td>
        <td>62</td>
    </tr>
    <tr>
        <td>Heroes of Newerth</td>
        <td>MOBA</td>
        <td>60</td>
    </tr>
    <tr>
        <td>Dota 2</td>
        <td>MOBA</td>
        <td>41</td>
    </tr>
    <tr>
        <td>Paladins</td>
        <td>MOBA</td>
        <td>20</td>
    </tr>

</table>
